BOT_TOKEN=bot_token
CORP_ROOT_CA_PATH=/path/to/corp_root_ca.crt
BOT_LOG=/path/to/your/InvBinderBot.log
DHCP_LOG=/path/to/your/dhcp.log
BOUND_COMPUTERS_CSV=/path/to/bound_computers.csv
FRESH_LIMIT_MINUTES=fresh_limit_in_minutes
NAME_TEMPLATE=name_template
REDIS_HOST=redis_host
REDIS_PORT=6379
REDIS_DB=redis_db_index
REDIS_PASSWORD=redis_password_if_any
SMB_USER=YourADUsername
SMB_PASS=YourADPassword
SMB_DOMAIN=YourADDomain
SMB_SHARE_DHCP=//your-win-server.domain.local/DHCPShare
SMB_SHARE_CSV=//your-win-server.domain.local/CSVShare
TIMEZONE=Your/Timezone