apiVersion: v1
kind: ConfigMap
metadata:
  name: env-bot-config
data:
  FRESH_LIMIT_MINUTES: "30"
  NAME_TEMPLATE: "Your Name Template Here"
  LOG_FILE: "/app/logs/logfile.log"
  PROCESSED_MACS: "/app/config/processed_macs.csv"
  REDIS_HOST: "redis"
  REDIS_PORT: "6379"
  REDIS_DB: "0"
