BOT_TOKEN=your_bot_token_here
LOG_FILE=/path/to/your/logfile.log
PROCESSED_MACS=/path/to/processed_macs.csv
FRESH_LIMIT_MINUTES=your_fresh_limit_in_minutes
NAME_TEMPLATE=Your Name Template Here
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_DB=your_redis_db_index
REDIS_PASSWORD=your_redis_password_if_any